
/* Your CSS Code here. */
.container{
	display:flex;
	direction:column;
}
.sm12{
	display:flex;
	justify-content:space-between;
}
.sm6{
	display:flex;
	justify-content:space-between;
}
.sm3{
	display:flex;
	justify-content:space-between;
}
.sm1{
	display:flex;
	justify-content:center;
}